{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="card.css" />
{% endblock %}
{% block body %}
    <header>
            <div class="logo">
            <img src="assets/Group 4.png" alt="" />
            </div>
            <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/products">all product</a></li>
                <li><a href="/about">about us</a></li>
            </ul>
            <div class="nav-logo">
                <a href="{{ path('app_logout') }}"><img src="assets/user.png" alt="" /></a>
                <a href="{{ path('app_cart') }}"><img src="assets/grocery-store.png" alt="" /></a>
            </div>
            </nav>
    </header>
    <div class="contrainer">     
        <div class="table-container">
            {% if items | length %}
            <h1>Your Cart</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{item.product.nom}}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{item.product.prix}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td>${{total}}</td>
                        <td></td>
                    </tr>
                </tfoot>

            </table>
            <p class="home-link"><a href="/buy" >Buy Now -></a></p>
            {% else %}
            <p class="empty">Your cart is empty !</p>
            <p class="home-link"><a href="/products" >SEE OUR PRODUCT ?</a></p>
            {% endif %}
        </div>
        
    </div>
{% endblock %}
