{% extends 'base.html.twig' %}

{% block title %}Our products{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/style.css" />
{% endblock %}
{% block body %}
<header>
    <div class="logo">
        <a href="/"><img src="/assets/Group 4.png" alt="" /></a>
    </div>
    <nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/products">all product</a></li>
        <li><a href="/about">about us</a></li>
    </ul>
    <div class="nav-logo">
        <a href="{{ path('app_logout') }}"><img src="/assets/user.png" alt="" /></a>
        <a href="{{ path('app_cart') }}"><img src="/assets/grocery-store.png" alt="" /></a>
    </div>
    </nav>
</header>
<main>
    <div class="productcontainer">
        <div class="image">
            <img src="/uploads/{{product.image}}" alt="produit" />
        </div>
        <div class="info" >
            <h1> {{product.nom}} </h1>
            <h3> {{product.prix}}$ </h3>
            <p class="desc" > {{product.description}} </p>
            {% if product.quantite == 0 %}
                <p class="qte red   " >Out of stock</p>
            {% else %}
                <p class="qte" > {{product.quantite}} </p>
                <a href="/add/{{product.id}}"> Add to cart </a>
            {% endif %}
        </div>
    </div>
    <div class="title">
        <h3>Same Marque</h3>
    </div>
    <div class="items-list">
    
        {% if( products is empty ) %}
            <h1>No products found</h1>
        {% else %}
            {% for product in products %}
                <a href ="/product/show/{{product.id}}">
                    <div class="item">
                        <div class="image">
                            <img src="/uploads/{{product.image}}" alt="hello" id="item_img" />
                        </div>
                        <div class="desc"><h3>{{product.nom}}</h3> <p>${{product.prix}}</p></div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</main>
<footer>
    <h2>@Copyright Halim Choukani L2 DSI 3</h2>
</footer>
{% endblock %}
